<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path_dataset" value="E:\Data\cards_features.csv"/>
    <add key="path_attributes" value="E:\Data\attributes.csv"/>
    <add key="path_unused" value="E:\Data\unused_consequents.csv"/>
    <add key="path_itemset_format" value="E:\Data\temp\tier{0}"/>
    <add key="path_rules_format" value="E:\Data\rules_eclat\rules_eclat_{0}_{1}"/>
  </appSettings>
</configuration>